.service {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-basis: 31%;
}
.services {
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.card {
  width: 250px;
  height: 280px;
  aspect-ratio: 1 / 0.7;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
.btnn {
  margin-top: 20px;
}
.button {
  margin-top: 20px !important;
}
.card .image-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover img {
  transform: scale(1.05);
  filter: grayscale(1) brightness(0.4);
}
.card:hover::after {
  opacity: 1;
  inset: 20px;
}
.card:active img {
  background-color: #2980b9;
  transform: scale(1.1);
}
.content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.service-title {
  margin-top: 10px;
  color: rgb(30, 107, 30);
  margin-bottom: -10px;
}
.content h2,
.content p {
  color: #ffffff;
  opacity: 0;
  transition: 0.4s 0.2s ease;
}
.content h2 {
  margin-bottom: 12px;
  scale: 0.7;
}
.content p {
  font-size: 14px;
  line-height: 1.5;
  color: #d1d1d1;
  transform: translateY(50%);
}
.card:hover .content h2 {
  scale: 1;
  opacity: 1;
}
.card:hover .content P {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 650px) {
  .services {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .service-title {
    font-size: 20px;
    margin-top: 10px;
    color: rgb(30, 107, 30);
    margin-bottom: -10px;
  }
  .content h2 {
    font-size: 24px;
  }
  .content p {
    font-size: 12px;
  }
}
